*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
#app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 20%;
}
#start-box,
#destination-box{
    width: 250px;
}
input{
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    text-indent: 1rem;
    box-shadow: 2px 2px 2px #eee;
}
/* 辅助选择层 */
#assist-layer{
    z-index: 50;
    margin-top: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;

    display: inline-grid;
    grid-template-columns: 70px 70px 70px 70px;
}
#assist-layer span{
    /* margin: 5px 5px; */
    cursor: pointer;
    padding: 10px;
}
#assist-layer span:hover{
    background-color: #eee;
}
/* 提示列表 */
.select-list{
    margin: 2px auto;
    width: 210px;
    /* display: none; */
}
.select-item{
    height: 40px;
    line-height: 40px;
    text-indent: 1rem;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.select-item:hover{
    background-color: #eee;
}
.interchange{
    width: 40px;
    height: 40px;
}
.btn{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-color: aliceblue; */
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px #eee;
}
.btn:hover{
    background-color: #eee;
}